/* basic setting */
$primary-color: #4FE1B5;
$primary-dark-color: #1FB588;
$primary-100: #DAF9F0;
$primary-600: #28DAA5;
$primary-800: #188E6B;
$primary-700: #1FB588;
$primary-light-color: #B8F3E1;
$accent-color: #FBC36F;
$alert-color: #FB6F88;
$gray-700: #434343;
$gray-600: #616161;
$gray-500: #808080;
$gray-400: #B8B8B8;
$gray-300: #D4D4D4;
$gray-200: #F0F0F0;
$black: #000;
$white: #FFFFFF;
$sizes: (
  25: 25%,
  50: 50%,
  75: 75%,
  90: 90%,
  100: 100%
);

$spacer: 1rem;
$spacers: (
  0: 0,
  1: (
  $spacer * 0.25
  ),
  2: (
  $spacer * 0.5
  ),
  3: (
  $spacer * 0.75
  ),
  4: $spacer,
  5: (
  $spacer * 1.25
  ),
  6: (
  $spacer * 1.5
  ),
  7: (
  $spacer * 1.75
  ),
  8: (
  $spacer * 2
  )
);
/* 使用@each 產出css spacer設定 */
%standard-boxshadow {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

@each $prop, $abbrev in (width: w, height: h) {
 @each $num, $val in $sizes {
   .#{$abbrev}-#{$num} {
     #{$prop}: $val;
   }
 }
}

@each $prop, $abbrev in (margin: m, padding: p) {
  @each $num, $val in $spacers {
    .#{$abbrev}-#{$num} {
      #{$prop}: $val;
    }
    .#{$abbrev}t-#{$num} {
      #{$prop}-top: $val;
    }
    .#{$abbrev}r-#{$num} {
      #{$prop}-right: $val;
    }
    .#{$abbrev}b-#{$num} {
      #{$prop}-bottom: $val;
    }
    .#{$abbrev}l-#{$num} {
      #{$prop}-left: $val;
    }
    .#{$abbrev}x-#{$num} {
      #{$prop}-left: $val;
      #{$prop}-right: $val;
    }
    .#{$abbrev}y-#{$num} {
      #{$prop}-top: $val;
      #{$prop}-bottom: $val;
    }
  }
}